script(src="./index.ts" type="module") 
link(href="./index.scss" rel="stylesheet")

body
    my-counter($count='45')

    template(is='btld-comp' tag='my-counter')
        btld-attr(name='count' type='number' $default='0')

        button(@click='count -= 1') -
        span ${count}
        button(@click='count += 1') +

        script(watch='count').
            console.log('count')



//-
    .test.
        Test Test 123

        1. Find btld-tag and define custom component 
        2. attributeChangedCallback + shadow dom
        3. Extract script & script events and make directly callable listeners
        4. Define buildin events: load loaded render rendered
        5. Activly avoid error msg when parsing attrs and params


    btld(tag='my-counter' attrs='count, complex-data' shadow)
        button(@click='change: -1') -
        span {count}
        button(@click='change: +1') +

    script.

        btld.tag('my-counter', {
            props: ['count', 'complex-data'],
            shadow: true,
            style: 'import css?',
            html: 'test html',
            events: {
                change: function(detail, event) {
                    this.setCount(this.count + detail);
                    event.trigger();
                }
            }
        })

    script(type='module').
        let util = require('btld-elements-util');

    btld(tag='my-counter' props='count, complex-data' shadow)
        template

            button(@click='change: -1') -
            span {count}
            button(@click='change: +1') +

            script(event='change').
                setCount(count + detail); // Possible??? count += detail;

            div($test='complexData' $ref='testRef' $inner='html' $tag='"test"' $if='true' $repeat='[1,2,3]')
            slot

            style.
                * {
                    font-size: 200%;
                }

                span {
                    width: 4rem;
                    display: inline-block;
                    text-align: center;
                }

                button {
                    width: 64px;
                    height: 64px;
                    border: none;
                    border-radius: 10px;
                    background-color: seagreen;
                    color: white;
                }